name: CI

on:
  pull_request:
    branches:
      - "main"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

jobs:
  check-spell:
    name: Check spell
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install reviewdog
        uses: reviewdog/action-setup@v1
        with:
          reviewdog_version: latest
      - name: Setup node
        uses: ./.github/actions/setup-node
      - name: Check Code Spell
        run: cspell '**/*.md' > cspell.log
      - name: Run reviewdog for Code Spell Checker
        if: failure()
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cat cspell.log | reviewdog -efm='%f:%l:%c - %m' -name='Code Spell Checker' -reporter='github-pr-review'
  text-lint:
    name: Text lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install reviewdog
        uses: reviewdog/action-setup@v1
        with:
          reviewdog_version: latest
      - name: Setup node
        uses: ./.github/actions/setup-node
      - name: Run textlint on articles
        run: npx textlint -f checkstyle "articles/*.md" >> .textlint.log
      - name: Run reviewdog
        if: failure()
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cat .textlint.log  | reviewdog -f=checkstyle -name="textlint" -reporter="github-pr-review"
